.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 1fr 1fr 1fr 1fr */
  grid-template-rows: repeat(4, 15vh) 15vh 15vh;
  /* rowslarda fr kullanimiyok */
  /* gap: 10px 15px; */
}
.parca {
  background-color: yellowgreen;
  /* border: 1px solid gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.parca1 {
  grid-column-start: 1;
  grid-column-end: 3;
  /* 1.sütundan basla 3e kadar gel */
  background-color: pink;
}
.parca4 {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: orange;
}
.parca6 {
  background-color: plum;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;

  /* altarnatif */
  grid-area: 2/3 / span 2 / span 2;
  /* satir baslangic sütün baslangic
   sonra satirda kac parca ve stünda 
   kac parca oldugunu yaziyoruz arada 
   span kullaniliyor */
   background-image: url("../../assets/winter2.webp");

}
.parca9{
    background-color: aqua;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column: 2;
    /* burada sutun numarasini 
    yazmayinaca birlestirma defoult
     olarak sag tarafta oluyor */
}
