* {
  text-align: center;
  color: cyan;
  margin: 0;
}
.bg {
  background-image: url("../monalisa.jpeg");
  height: 20rem;

  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  background-position: top center;
}
span {
  margin: 1rem;
  background-color: gray;
  width: 4rem;
  height: 1rem;
  display: inline-block;
}
span:hover {
  background-color: aqua;
}
