.container1 div {
  background-color: tomato;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}
.container1 {
  background-color: antiquewhite;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
}
.container2 div {
  background-color: cornflowerblue;
  width: 5rem;
  height: 10rem;
  margin: 1rem;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container2 {
  background-color: pink;
  height: 20rem;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.container2 div:nth-child(1) {
  height: 5rem;
}
.container2 div:nth-child(2) {
  height: 7rem;
  padding-top: 4rem;
}
.container2 div:nth-child(3) {
  height: 2rem;
  padding: 0.5rem;
}
/*! Dikey Hizalama => align-items
  /**flex-start: Nesneler, kapsayıcının en üstünden başlayarak dizilirler.
/**flex-end: Nesneler, kapsayıcının en altından başlayarak, yukarı doğru dizilirler.
/**center: Nesneler ortalı bir şekilde dikey olarak sıralanırlar.
/**baseline: yazıların yerine bakılır, sıradanlığı bozan yazı tipi göz önüne alınarak hizalanmaya başlanılır.
/**stretch: Tüm nesneler kapsayıcı yüksekliğine eşit olacak şekilde dizilirler.*/
ul li{
    background-color: violet;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
ul{
    background-color: darkgray;
    list-style-type: none;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    align-content: flex-start;
    gap: 4rem 1rem;
}
.container4{
  padding: 1rem 0;
  background-color: rgb(202, 98, 98);
  display: flex;
}
.container4 div{
  background-color: yellow;
  width: 5rem;
  margin: 1rem;
}
.grow1{
  flex-grow: 1;
}
.grow2{
  flex-grow: 2;
}
.grow3{
  flex-grow: 3;
}
.grow4{
  flex-grow: 0;
}